@import 'bower_components/newsapps-styles/init-helpers';

@import 'base';

.form-group {
  height: 100px;
  margin: 0 0 .625em;

  label {
    display: inline-block;
    font-size: .875em;
    font-weight: 700;
    margin: 0 0 .357142857em;
  }

  input {
    display: block;
    line-height: 1.4;
    padding: .3125em .625em;
    width: 100%;
  }
}

.tt-dropdown-menu {
  background-color: rgb(255, 255, 255);
  border: 1px solid $bodytext-black;
  max-height: 75px;
  overflow-y: auto;
  padding: 0;
  width: 100%;
}

.tt-suggestion {
  border-bottom: 1px solid $bodytext-black;
  display: block;
  margin: 0;
  padding: 1.25em .83em .83em;

  &:last-child {
    border-bottom: transparent;
  }
}

.tt-cursor {
  color: rgb(255, 255, 255);
  background-color: $tribune-href;
  cursor: pointer;
}

.tt-suggestion p {
  margin: 0 0 .5em;
  font-size: .75em;
}

.twitter-typeahead,
.twitter-typeahead .tt-query,
.twitter-typeahead .tt-hint {
  width: 100%;
}

.results-card,
.texas-card {
  background-color: $background-gray;
  display: none;
  font-weight: 300;
  padding: .5em;
  .results-header {
    margin: 0 0 .625em;
  }
  .results-title {
    font-size: 1.125em;
    line-height: 1;
    margin: 0 0 .25em;
    padding: 0;
  }
  .county {
    font-size: .875em;
    font-weight: 300;
    line-height: 1;
    margin: 0;
    padding: 0;
  }
  .stats {
    font-size: .875em;
    line-height: 1.2;
    margin: 0 0 .375em;
    padding: 0;
  }
  .number-stat {
    font-weight: 700;
  }
}

.active {
  display: block;
}
