<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ META.graphic_title }} | The Texas Tribune</title>
</head>
<!-- build:css styles/main.min.css -->
<link rel="stylesheet" href="styles/main.css">
<!-- endbuild -->
<body>

<div class="header">
  <h1>{{ META.graphic_title }}</h1>
</div>

<div class="prose">
  {{ META.prose }}
</div>

<div id="graphic" class="graphic">
  <div class="form-group">
    <label for="search">Find your school district</label>
    <input id="search" class="typeahead" type="text" placeholder="E.g. Dallas ISD">
  </div>

  <div class="results-card">
    <div class="results-header">
      <h2 class="results-title"><span id="name"></span></h2>
      <p class="county"><span id="county"></span> County</p>
    </div>
    <p class="stats">Number of students: <span class="number-stat" id="students_exempting"></span></p>
    <p class="stats">Percentage of students: <span class="number-stat" id="percent_students_exempting"></span></p>
  </div>
</div>

<div class="footer">
  <ul>
    {% if META.source %}<li>Source: {% if META.source_url %}<a href="{{ META. source_url }}">{{ META.source }}</a>{% else %}{{ META.source }}{% endif %}</li>{% endif %}
    {% if META.credit %}<li>Credit: {{ META.credit }}</li>{% endif %}
  </ul>
</div>

<!-- build:js scripts/main.min.js -->
<!-- bower:js -->
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/pym.js/src/pym.js"></script>
<script src="/bower_components/typeahead.js/dist/typeahead.bundle.js"></script>
<!-- endbower -->
<script src="/scripts/main.js"></script>
<!-- endbuild -->
</body>
</html>
